.weather-info__card {
  padding: 20px;
  text-align: center;
}

.weather-info__current {
  text-align: center;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 0 1px #4056a1, 0 1px 2px #4056a1, 0 1px 2px #4056a1;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.weekly-weather__card {
  margin-top: 20px;
  padding: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.weather-info__current-location {
  font-weight: 500;
  font-size: 26px;
  line-height: 29px;
  margin: 0 0 15px 0;
}

@media screen and (max-width: 767px) {
  .weather-info__card {
    padding: 15px;
  }
  .weather-info__current {
    font-size: 16px;
    line-height: 26px;
  }
  .weekly-weather__card {
    font-size: 14px;
    line-height: 18px;
  }

  .weather-info__current-location {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
